@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Leto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Leto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Leto:wght@400&display=swap");
.main-menu-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5vw 15vh 5vw;
}

.menubar-logo {
  height: 30px;
  width: auto;
  align-self: center;
  align-self: flex-start;
}

.hide-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-menu a {
  text-decoration: none;
  color: #fff;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide-menu a:hover {
  color: #0070e0;
}

.button-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-link-container a:not(:last-child) {
  margin-right: 0.5em;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.menu-item {
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 1em;
}

.menu-icon {
  display: none;
  color: #fff;
}

.close-icon {
  display: none;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2em;
    margin-left: 1em;
  }
  .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0c151f;
    z-index: 10;
    padding: 1em;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
  }
  .close-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    z-index: 11;
    font-size: 2em;
  }
}
@media screen and (max-width: 520px) {
  .menubar-logo {
    height: auto;
    width: 70vw;
    align-self: flex-start;
  }
}
.copyright, .index-footer {
  color: grey;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.index-footer {
  position: absolute;
}

.grid-element {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c151f;
  text-align: center;
  font-weight: 400;
  flex-direction: column;
  padding: 15%;
  width: 150px;
  box-shadow: 0 0 20px 10px rgb(170, 167, 167);
}
.grid-element:hover {
  box-shadow: 0 0 20px 10px #0070e0;
}
.grid-element img {
  display: block;
  margin: auto;
}

.about-card-grid {
  padding: 0;
  margin: 50px auto 50px auto;
  display: grid;
  -moz-column-gap: 5vw;
       column-gap: 5vw;
  row-gap: 5vh;
  align-items: center;
  justify-items: center;
  grid-auto-rows: auto;
  grid-template-columns: [page-start] auto [content-start] 15vw [content-mid1] 15vw [content-mid2] 15vw [content-mid3] 15vw [content-end] auto [page-end];
}

.about-card-content .mymusic {
  grid-column: 1/span 6;
  grid-row: 1;
}
@media (max-width: 1000px) {
  .about-card-content .mymusic {
    grid-column: 1/span 2;
    grid-row: 1;
  }
}
@media (max-width: 480px) {
  .about-card-content .mymusic {
    grid-column: 1/span 1;
    grid-row: 1;
  }
}
.about-card-content .beatport-card {
  grid-column: 2/span 1;
  grid-row: 2;
}
@media (max-width: 1000px) {
  .about-card-content .beatport-card {
    grid-column: 1/span 1;
    grid-row: 2;
  }
}
@media (max-width: 480px) {
  .about-card-content .beatport-card {
    grid-column: 1/span 1;
    grid-row: 2;
  }
}
.about-card-content .mixcloud-card {
  grid-column: 3/span 1;
  grid-row: 2;
}
@media (max-width: 1000px) {
  .about-card-content .mixcloud-card {
    grid-column: 2/span 1;
    grid-row: 2;
  }
}
@media (max-width: 480px) {
  .about-card-content .mixcloud-card {
    grid-column: 1/span 1;
    grid-row: 3;
  }
}
.about-card-content .soundcloud-card {
  grid-column: 4/span 1;
  grid-row: 2;
}
@media (max-width: 1000px) {
  .about-card-content .soundcloud-card {
    grid-column: 1/span 1;
    grid-row: 3;
  }
}
@media (max-width: 480px) {
  .about-card-content .soundcloud-card {
    grid-column: 1/span 1;
    grid-row: 4;
  }
}
.about-card-content .spotify-card {
  grid-column: 5/span 1;
  grid-row: 2;
}
@media (max-width: 1000px) {
  .about-card-content .spotify-card {
    grid-column: 2/span 1;
    grid-row: 3;
  }
}
@media (max-width: 480px) {
  .about-card-content .spotify-card {
    grid-column: 1/span 1;
    grid-row: 5;
  }
}

@media (max-width: 1000px) {
  .about-card-grid {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 700px) {
  .about-card-grid {
    grid-template-columns: 1fr;
  }
}

body {
  margin: 0;
  background-color: #0c151f;
  font-family: "Oswald", sans-serif;
  font-size: clamp(12px, 4vw, 22px);
}

p,
h1,
h2 {
  color: #fff;
  text-align: center;
}

.bg {
  background: url("../Img/DK_index_cool.webp") no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sub-headline,
.main-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.about-text-content,
.content-header {
  max-width: 70vw;
  margin: 0 auto;
}
.about-text-content p,
.content-header p {
  line-height: 2;
}

.about-card-content,
.about-text-content {
  display: block;
  margin: 0, auto, 0, auto;
  justify-content: center;
  align-items: center;
}

.schedule-container .sub-headline {
  font-size: 1.25em;
}

.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
}
.event-list li {
  justify-content: space-between;
  color: #fff;
  line-height: 2;
}

.contact-center {
  margin: 20px auto;
}
.contact-center .booking-element {
  margin: 10vh;
}
.contact-center a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-center a:hover {
  color: #0070e0;
}
.contact-center h2 {
  font-size: 1.2em;
}

.music-infocard-image {
  height: 100px;
  filter: invert(1);
}

.offscreen {
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}/*# sourceMappingURL=styles.css.map */