.copyright {
  color: $color-fadetext;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.index-footer {
  @extend .copyright;
  position: absolute;
}
