@import "mixin";
@import "variables";

.grid-element {
  @include flex-center();
  background-color: $color-bg-darkblue;
  text-align: center;
  font-weight: 400;
  flex-direction: column;

  padding: 15%;
  width: 150px;
  box-shadow: 0 0 20px 10px rgb(170, 167, 167);
  &:hover {
    box-shadow: 0 0 20px 10px $color-accent;
  }
  img {
    display: block;
    margin: auto;
  }
}

//placement is: $row-start, $rows, $column-start, $colums

//About.html
.about-card-grid {
  padding: 0;
  margin: 50px auto 50px auto;
  display: grid;
  column-gap: 5vw;
  row-gap: 5vh;
  align-items: center;
  justify-items: center;
  grid-auto-rows: auto;
  grid-template-columns: [page-start] auto [content-start] 15vw [content-mid1] 15vw [content-mid2] 15vw [content-mid3] 15vw [content-end] auto [page-end];
}
//placement is: $row-start, $column-start, $colums
.about-card-content {
  .mymusic {
    @include grid-placement(1, 1, 6);
    @media (max-width: $breakpoint-desktop) {
      @include grid-placement(1, 1, 2);
    }

    @media (max-width: $breakpoint-mobile) {
      @include grid-placement(1, 1, 1);
    }
  }
  .beatport-card {
    @include grid-placement(2, 2, 1);
    @media (max-width: $breakpoint-desktop) {
      @include grid-placement(2, 1, 1);
    }

    @media (max-width: $breakpoint-mobile) {
      @include grid-placement(2, 1, 1);
    }
  }

  .mixcloud-card {
    @include grid-placement(2, 3, 1);
    @media (max-width: $breakpoint-desktop) {
      @include grid-placement(2, 2, 1);
    }

    @media (max-width: $breakpoint-mobile) {
      @include grid-placement(3, 1, 1);
    }
  }

  .soundcloud-card {
    @include grid-placement(2, 4, 1);
    @media (max-width: $breakpoint-desktop) {
      @include grid-placement(3, 1, 1);
    }

    @media (max-width: $breakpoint-mobile) {
      @include grid-placement(4, 1, 1);
    }
  }

  .spotify-card {
    @include grid-placement(2, 5, 1);
    @media (max-width: $breakpoint-desktop) {
      @include grid-placement(3, 2, 1);
    }

    @media (max-width: $breakpoint-mobile) {
      @include grid-placement(5, 1, 1);
    }
  }
}

//----- Responsive view -----//

.about-card-grid {
  @media (max-width: $breakpoint-desktop) {
    // Styles for tablet view
    grid-template-columns: repeat(2, auto);
  }

  @media (max-width: $breakpoint-tablet) {
    // Styles for mobile view
    grid-template-columns: 1fr;
  }
}
