@import "variables";
@import "mixin";

//Menu area
.main-menu-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 5vw 15vh 5vw;
}

.menubar-logo {
  height: 30px;
  width: auto;
  align-self: center;
  align-self: flex-start;
}

.hide-menu {
  @include flex-center();
  a {
    text-decoration: none;
    color: $color-text;
    height: 2em;
    @include flex-center();
    &:hover {
      color: $color-accent;
    }
  }
}

.button-link-container {
  @include flex-center();
  a:not(:last-child) {
    margin-right: 0.5em;
  }
}

.main-menu {
  @include flex-center();
  list-style: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.menu-item {
  cursor: pointer;
  font-size: 1.1em;
  margin-right: 1em;
}

.menu-icon {
  display: none;
  color: $color-text;
}

.close-icon {
  display: none;
  color: $color-text;
}

//----- Responsive settings -----//
//Toogle menu style

@media screen and (max-width: $breakpoint-desktop) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 2em;
    margin-left: 1em;
  }

  .hide-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-bg-dark;
    z-index: 10;
    padding: 1em;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
  }

  .close-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: $color-text;
    z-index: 11;
    font-size: 2em;
  }
}

@media screen and (max-width: 520px) {
  .menubar-logo {
    height: auto;
    width: 70vw;
    align-self: flex-start;
  }
}
