@mixin grid-placement($row-start, $column-start, $columns) {
  grid-column: $column-start / span $columns;
  grid-row: $row-start;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
