//Color definitions
//$color-bg-dark: #434343;
$color-bg-dark: #161616;
$color-bg-black: #000;
$color-bg-card: #212121;
$color-text: #fff;
$color-fadetext: grey;
$color-accent: #1469cb;
$color-accent-alt: #ff715b;

//Font settings
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$font-family: 'Oswald', sans-serif;
$min-font-size: 12px;
$preferred-font-size: 4vw;
$max-font-size: 22px;

//Responsive view breakpoints
$breakpoint-desktop: 1000px;
$breakpoint-tablet: 700px;
$breakpoint-mobile: 480px;
