//Color definitions
//$color-bg-dark: #434343;
$color-bg-dark: #0c151f;
$color-bg-black: #000;
$color-bg-darkblue: #0c151f;
$color-text: #fff;
$color-fadetext: grey;
$color-accent: #0070e0;

//Font settings
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Leto:wght@400&display=swap");

$font-family: "Oswald", sans-serif;
$min-font-size: 12px;
$preferred-font-size: 4vw;
$max-font-size: 22px;

//Responsive view breakpoints
$breakpoint-desktop: 1000px;
$breakpoint-tablet: 700px;
$breakpoint-mobile: 480px;
