//Color definitions
$color-bg-dark: #6f6f6f;
$color-text: white;
$color-accent: #0070e0;

//Font settings
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-family: "Roboto", sans-serif;
$min-font-size: 14px;
$preferred-font-size: 4vw;
$max-font-size: 22px;
