# OS files
.DS_Store
Thumbs.db

# Dev enviroment files
.vscode/

#node.js
/node_modules
package-lock.json

#webpack
/dist

# Linters and other misc module files
.eslintrc.js
.stylelintrc
.prettierrc.js
# Misc. dirs
/Dev_docs